@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;

    /* debug */
    /* outline: 1px solid red; */
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #0077B5;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #AAD1E6;
}

html,
body {
    width: 100%;
}

nav {
    background-color: #F7F7F7;
    height: 75px;
    width: 100%;
    transition: height .3s ease;
    z-index: 999;

}

.navbar-sticky {
    position: fixed;
    top: 0;
    height: 80px;
    background-color: #fff;
    transition: height .3s ease;
}

nav>ul div:nth-of-type(1) {
    width: 20%;
    height: 75px;
}

nav>ul div:nth-of-type(2) {
    width: 40%;
    height: 75px;
}

nav>ul div:nth-of-type(3) {
    width: 30%;
    height: 75px;
}

nav li.active {
    color: #4976E7;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.navbar-header__nav-list-phone-container{
    width: 100%;
    height: auto;
    position: fixed;
    top: 75px;
    background-color: rgba(73, 118, 231, 0.9);
    z-index: 999;
}

.navbar-header__nav-list-phone-container-nav-list-item {
    text-decoration: none;
    color: #fff;
}


.nav-list-phone-container__nav-list-phone {
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
}


/* start-section */

.start-section {
    padding-left: 15%;
    height: 490px;
    width: 100%;
    background-color: #F7F7F7;
}

.start-section__name-content {
    padding-top: 10%;
}

.start-section__list-logo {
    width: 30%;
}

.start-section__list-logo .fa-linkedin {
    color: #0077B5;
}

.start-section__list-logo .fa-github {
    color: #000;
}

.start-section__list-logo .fa-facebook {
    color: #097DEB;
}

/* end start-section */


/* start about-section */

.about-section {
    height: auto;
    width: 100%;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F7F7F7;
}

.about-section__education-content {
    width: 100%;
}

.about-section__graduation-container {
    height: 400px;
    width: 350px;
    background-color: #4976E7;
    border-radius: 10px;
}

.about-section__school-item-container {
    width: 350px;
    height: 250px;
    background-color: #E4E4E4;
    border-radius: 10px;
}


.about-section__school-container:nth-of-type(1) .about-section__school-item-container:nth-of-type(1) {
    box-shadow: 0 5px #250EB4;

}

.about-section__school-container:nth-of-type(1) .about-section__school-item-container:nth-of-type(2) {
    box-shadow: 0 5px #081C02;
}

.about-section__school-container:nth-of-type(2) .about-section__school-item-container:nth-of-type(1) {
    box-shadow: 0 5px #37C70E;
}

.about-section__school-container:nth-of-type(2) .about-section__school-item-container:nth-of-type(2) {
    box-shadow: 0 5px #122453;
}

/* end about-section */

/* start .skill-section */

.skill-section {
    height: auto;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F7F7F7;
}


.skill-section__tech-stack-container {
    padding-top: 100px;
}

.skill-section__tech-stack-container i {
    transition: transform .3s ease-in-out;
}

.skill-section__tech-stack-container img {
    transition: transform .3s ease-in-out;
}

.skill-section__tech-stack-container .fa-html5 {
    color: #DD4B25;
}

.skill-section__tech-stack-container .fa-css3-alt {
    color: #254BDD;
}

.skill-section__tech-stack-container .fa-square-js {
    color: #E9D44D;
}

.skill-section__tech-stack-container .fa-php {
    color: #7377AD;
}

.skill-section__tech-stack-container .fa-laravel {
    color: red;
}

.skill-section__tech-stack-container .fa-bootstrap {
    color: #6D10ED;
}

.skill-section__stack-item-container {
    width: 300px;
    height: 250px;
    background-color: #E4E4E4;
    border-radius: 10px;
}

.skill-section__stack-item-container {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.skill-section__stack-item-container:hover {
    transform: translate(10px, -10px);
    cursor: pointer;
}

.skill-section__vanilla-tech-stack .external-link:nth-of-type(1) .skill-section__stack-item-container:hover{
    box-shadow: -5px 6px rgba(221, 75, 37, .5);
    border: 1px solid rgba(221, 75, 37, .5);

}

.skill-section__vanilla-tech-stack .external-link:nth-of-type(2) .skill-section__stack-item-container:hover{
    box-shadow: -5px 6px rgba(37, 75, 221, .5);
    border: 1px solid rgba(37, 75, 221, .5);
}

.skill-section__vanilla-tech-stack .external-link:nth-of-type(3) .skill-section__stack-item-container:hover{
    box-shadow: -5px 6px rgba(233, 212, 77, .5);
    border: 1px solid rgba(233, 212, 77, .5);
}

.skill-section__vanilla-tech-stack .external-link:nth-of-type(4) .skill-section__stack-item-container:hover{
    box-shadow: -5px 6px rgba(115, 119, 173, .5);
    border: 1px solid rgba(115, 119, 173, .5);
}

.skill-section__frawework-stack .external-link:nth-of-type(1) .skill-section__stack-item-container:hover{
    box-shadow: -5px 6px rgba(255, 0, 0, .5);
    border: 1px solid rgba(255, 0, 0, .5);
}

.skill-section__frawework-stack .external-link:nth-of-type(2) .skill-section__stack-item-container:hover{
    box-shadow: -5px 6px rgba(109, 16, 237, .5);
    border: 1px solid rgba(109, 16, 237, .5);
}

.skill-section__frawework-stack .external-link:nth-of-type(3) .skill-section__stack-item-container:hover{
    box-shadow: -5px 6px rgba(53, 190, 248, .5);
    border: 1px solid rgba(53, 190, 248, .5);
}




.skill-section__framework-container {
    padding-top: 100px;
}

/* end skill-section */

/* start experience-section */

.experience-section {
    height: auto;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F7F7F7;
}

.experience-section__work-content {
    display: none;
    height: auto;
    width: 90%;
    background-color: #fff;
}

.experience-section_experience-container {
    background-color: #E4E4E4;
    width: auto;
    height: 150px;
    border-radius: 10px;
}

.experience-section__btn-group button {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    background-color: #4976E7;
    color: #fff;
    box-shadow: -10px 10px #003DCB;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* Add transition for box-shadow */

}

.experience-section__btn-group--active {
    transform: translate(-10px, 10px);
    box-shadow: none !important;
}

.experience-section__slider-container{
    width: 100%;
    background-color: burlywood;
    height: 200px;
}

.experience-section__image-container{
    width: 100%;
}

.experience-section__image-container img{
    height: 200px;
    width: 100%;
}

/* end experience-section */

/* start footer-section */

footer {
    width: 100%;
    height: auto;
    background-color: #4976E7;
}

.footer-section__list-logo .fa-linkedin {
    color: #fff;
}

.footer-section__list-logo .fa-github {
    color: #fff;
}

.footer-section__list-logo .fa-facebook {
    color: #fff;
}

/* end footer-section */

/*Sweet Alert 2 Custom Class */
.swal2-cancel.custom-cancel-button {
    color: #000; /* Change this to your desired text color */
    background-color: #F0F0F0;
  }