@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Mono&display=swap');

:root {
    --scrollbar-thumb: cyan;
    --primary-color: #000;
    --foreground-color: #fff;
    --span-text: #fff;
    --card: #000;
    --linkedin: #fff;
    --github: #fff;
    --facebook: #fff;
    --gradpic: #000;
    --yellow: yellow;
    --blue: blue;
    --footer: #000;
    --footer-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    /* debug */
    /* outline: 1px solid red; */
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--foreground-color);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}


html,
body {
    width: 100%;
    background-color: var(--primary-color);
}

nav {
    background-color: var(--primary-color);
    color: var(--foreground-color);
    height: 75px;
    width: 100%;
    transition: height .3s ease;
    z-index: 999;

}

.navbar-sticky {
    position: fixed;
    top: 0;
    height: 80px;
    background-color: var(--primary-color);
    color: var(--foreground-color);
    transition: height .3s ease;
}

nav>ul div:nth-of-type(1) {
    width: 20%;
    height: 75px;
}

nav>ul div:nth-of-type(2) {
    width: 40%;
    height: 75px;
}

nav>ul div:nth-of-type(3) {
    width: 30%;
    height: 75px;
}

nav li.active {
    color: #4976E7;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.navbar-header__nav-list-phone-container {
    width: 100%;
    height: auto;
    position: fixed;
    top: 75px;
    background-color: var(--primary-color);
    color: var(--foreground-color);
    z-index: 999;
}

.navbar-header__nav-list-phone-container-nav-list-item {
    text-decoration: none;
    color: var(--foreground-color);
}


.nav-list-phone-container__nav-list-phone {
    width: 100%;
}

.fa-sun {
    color: var(--yellow);
    cursor: pointer;
}

.fa-moon {
    color: var(--blue);
    cursor: pointer;
}

main {
    width: 100%;
    height: 100%;
}


/* start-section */

.start-section {
    height: auto;
    width: 100%;
    background-color: var(--primary-color);
}

.start-section p {
    color: var(--foreground-color);
}

.start-section span {
    color: var(--span-text);
}


.start-section__list-logo {
    width: 30%;
}

/* .start-section__list-logo .fa-linkedin {
    color: #0077B5;
}

.start-section__list-logo .fa-github {
    color: #000;
}

.start-section__list-logo .fa-facebook {
    color: #097DEB;
} */

.start-section__list-logo .fa-linkedin {
    color: var(--linkedin);
}

.start-section__list-logo .fa-github {
    color: var(--github);
}

.start-section__list-logo .fa-facebook {
    color: var(--facebook);
}

.start-section__media-content{
    margin: 0 auto;
}

/* end start-section */


/* start about-section */

.about-section {
    height: auto;
    width: 100%;
    background-color: var(--primary-color);
}

.about-section__introduction-content {
    color: var(--foreground-color);
}

.about-section__education-content {
    width: 100%;
    color: var(--foreground-color);

}

.about-section__graduation-container {
    height: 400px;
    width: 350px;
    background-color: var(--primary-color);
    border: 1px solid var(--foreground-color);
    color: var(--foreground-color);
    border-radius: 10px;
}

.about-section__school-item-container {
    width: 350px;
    height: 300px;
    background-color: var(--card);
    border: 1px solid var(--foreground-color);
    border-radius: 10px;
}


.about-section__school-container:nth-of-type(1) .about-section__school-item-container:nth-of-type(1) {
    box-shadow: 0 5px #250EB4;

}

.about-section__school-container:nth-of-type(1) .about-section__school-item-container:nth-of-type(2) {
    box-shadow: 0 5px #081C02;
}

.about-section__school-container:nth-of-type(2) .about-section__school-item-container:nth-of-type(1) {
    box-shadow: 0 5px #37C70E;
}

.about-section__school-container:nth-of-type(2) .about-section__school-item-container:nth-of-type(2) {
    box-shadow: 0 5px #122453;
}

/* end about-section */

/* start .skill-section */

.skill-section {
    height: auto;
    background-color: var(--primary-color);
    color: var(--foreground-color);
}

.skill-section__tech-stack-container i {
    transition: transform .3s ease-in-out;
}

.skill-section__tech-stack-container img {
    transition: transform .3s ease-in-out;
}

.skill-section__tech-stack-container .fa-html5 {
    color: #DD4B25;
}

.skill-section__tech-stack-container .fa-css3-alt {
    color: #254BDD;
}

.skill-section__tech-stack-container .fa-square-js {
    color: #E9D44D;
}

.skill-section__tech-stack-container .fa-php {
    color: #7377AD;
}

.skill-section__tech-stack-container .fa-laravel {
    color: red;
}

.skill-section__tech-stack-container .fa-bootstrap {
    color: #6D10ED;
}

.skill-section__stack-item-container {
    width: 300px;
    height: 250px;
    background-color: var(--card);
    border-radius: 10px;
    border: 1px solid var(--foreground-color);

}

.skill-section__stack-item-container {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.skill-section__stack-item-container:hover {
    transform: translate(10px, -10px);
    cursor: pointer;
}

.skill-section__vanilla-tech-stack .external-link:nth-of-type(1) .skill-section__stack-item-container:hover {
    box-shadow: -5px 6px rgba(221, 75, 37, .5);
    border: 1px solid rgba(221, 75, 37, .5);

}

.skill-section__vanilla-tech-stack .external-link:nth-of-type(2) .skill-section__stack-item-container:hover {
    box-shadow: -5px 6px rgba(37, 75, 221, .5);
    border: 1px solid rgba(37, 75, 221, .5);
}

.skill-section__vanilla-tech-stack .external-link:nth-of-type(3) .skill-section__stack-item-container:hover {
    box-shadow: -5px 6px rgba(233, 212, 77, .5);
    border: 1px solid rgba(233, 212, 77, .5);
}

.skill-section__vanilla-tech-stack .external-link:nth-of-type(4) .skill-section__stack-item-container:hover {
    box-shadow: -5px 6px rgba(115, 119, 173, .5);
    border: 1px solid rgba(115, 119, 173, .5);
}

.skill-section__frawework-stack .external-link:nth-of-type(1) .skill-section__stack-item-container:hover {
    box-shadow: -5px 6px rgba(255, 0, 0, .5);
    border: 1px solid rgba(255, 0, 0, .5);
}

.skill-section__frawework-stack .external-link:nth-of-type(2) .skill-section__stack-item-container:hover {
    box-shadow: -5px 6px rgba(109, 16, 237, .5);
    border: 1px solid rgba(109, 16, 237, .5);
}

.skill-section__frawework-stack .external-link:nth-of-type(3) .skill-section__stack-item-container:hover {
    box-shadow: -5px 6px rgba(53, 190, 248, .5);
    border: 1px solid rgba(53, 190, 248, .5);
}




.skill-section__framework-container {
    padding-top: 100px;
}

/* end skill-section */

/* start experience-section */

.experience-section {
    height: auto;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--primary-color);
    color: var(--foreground-color);
}

.experience-section__work-content {
    display: none;
    height: auto;
    width: 90%;
}

.experience-section_experience-container {
    background-color: var(--card);
    width: auto;
    height: 150px;
    border-radius: 10px;
    border: 1px solid var(--foreground-color);

}

.experience-section__btn-group button {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    background-color: #4976E7;
    color: #fff;
    box-shadow: -10px 10px #003DCB;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* Add transition for box-shadow */

}

.experience-section__btn-group--active {
    transform: translate(-10px, 10px);
    box-shadow: none !important;
}

.experience-section__image-container {
    width: 100%;
}

.experience-section__image-container img {
    height: 200px;
    width: 100%;
}

.skill-section__output-item-container {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: var(--card);
    border-radius: 10px;
    border: 1px solid var(--foreground-color);
}

.skill-section__output-item-container img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 200px;

}

.skill-section__output-button-container{
    position: absolute;
    width: 100%;
    bottom: 1rem;
    left: 0;
    right: 0;
}

.skill-section__output-button a {
    width: 100%;
    background-color: #000;
    color: #fff;
    border: 1px solid var(--foreground-color);
    cursor: pointer;
}

.skill-section__output-button a:hover {
    background-color: var(--foreground-color);
    color: var(--primary-color);
    border: 1px solid var(--foreground-color);
}

/* end experience-section */

/* start footer-section */

footer {
    width: 100%;
    height: auto;
    background-color: var(--footer);
    color: var(--footer-color);
    border-top: 1px solid var(--foreground-color);
}

/* end footer-section */

/*Sweet Alert 2 Custom Class */
.swal2-cancel.custom-cancel-button {
    color: #000;
    /* Change this to your desired text color */
    background-color: #F0F0F0;
}