@media (min-width: 0px) and (max-width: 500px) {
    .start-section {
        padding-left: 0;
        height: auto;
    }

    .about-section__school-item-container {
        width: 100%;
    }

    .about-section__graduation-container {
        width: 100%;
    }

    .start-section__list-logo {
        width: 100%;
    }
    .start-section__cv-download-container-word{
        width: 70%;
    }
    .start-section__cv-download-container-pdf{
        width: 70%;
    }

    .skill-section__stack-item-container {
        width: 100%;
    }

    .tailwind-logo {
        margin: 0 auto;
    }

    .experience-section__image-container img {
        height: 175px;
        width: 100%;
    }


}

@media (min-width: 700px) and (max-width: 1000px) {
    .start-section {
        padding-left: 0;
        height: auto;
    }

    .about-section__school-item-container {
        width: 45%;
        height: 300px;
    }

    .about-section__graduation-container {
        width: 70%;
    }

    .start-section__list-logo {
        width: 100%;
    }

    .skill-section__stack-item-container {
        width: 90%;
        margin: 0 auto;

    }

    .tailwind-logo {
        margin: 0 auto;
    }

    .experience-section_experience-container {
        background-color: var(--card);
        width: 90%;
        height: 200px;
        border-radius: 10px;
        margin: 0 auto;
        border: 1px solid var(--foreground-color);
    }


    .experience-section__image-container img {
        height: 400px;
        width: 100%;
    }

    .skill-section__output-item-container {
        width: 90%;
        margin: 0 auto;
    }


}

@media (min-width: 1520px) {
    .start-section__list-logo .fa-brands {
        font-size: 3em;
    }

    .about-section__school-item-container {
        width: 40%;
    }
    .skill-section__stack-item-container{
        width: 400px;
    }
    
}