@media (min-width: 0px) and (max-width: 500px) {
    .start-section {
        padding-left: 0;
        height: auto;
    }
    .about-section__school-item-container {
        width: 100%;
    }
    .about-section__graduation-container {
        width: 100%;
    }
    .start-section__list-logo {
        width: 100%;
    }
    .skill-section__stack-item-container{
        width: 100%;
    }

    .tailwind-logo{
        margin: 0 auto;
    }

    
}